<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Договор на выполнение заказа изготовления деталей</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
</head>
<body>
<div class="contract-section">
    <h2>Договор на выполнение заказа изготовления деталей</h2>
    <p><strong>Между:</strong><br>
        ООО ИОСУ ЛАБ, именуемое в дальнейшем "Исполнитель", с одной стороны, и {{.CustomerName}} , именуемое в дальнейшем "Заказчик", с другой стороны, совместно именуемые "Стороны".</p>
</div>

<div class="contract-section">
    <h2>1. Предмет договора:</h2>
    <p>Исполнитель обязуется выполнить заказ на изготовление деталей, указанных в приложении к настоящему договору, а Заказчик обязуется принять и оплатить указанные детали согласно условиям настоящего договора.</p>
    <p><strong>Детали заказа:</strong></p>
    <p>Ordering ID: {{.OrderingId}}</p>
    <p>Наименование детали: {{.DetailName}}</p>
    <p>Количество деталей: {{.CountDetail}}</p>
    <p>Имя заказчика: {{.CustomerName}}</p>
    <p>Количество ковок: {{.CountForging}}</p>
    <p>Тип ковки: {{.TypeForging}}</p>
    <p>Количество литья: {{.CountCasting}}</p>
    <p>Тип литья: {{.TypeCasting}}</p>
    <p>Количество ресурсов: {{.CountResources}}</p>
    <p>Дата регистрации: {{.DateRegistration.Time.Format "2006-01-02 15:04"}}</p>
    <p>Дата завершения: {{.DateEnd.Time.Format "2006-01-02 15:04"}}</p>
</div>

<div class="contract-section">
    <h2>2. Условия выполнения заказа:</h2>
    <p>2.1 Исполнитель обязуется выполнить заказ в соответствии с требованиями и спецификациями, указанными в приложении к настоящему договору.</p>
    <p>2.2 В случае необходимости внесения изменений в заказ, стороны обязуются согласовать их письменно.</p>
</div>

<div class="contract-section">
    <h2>3. Приемка и гарантия:</h2>
    <p>3.1 Гарантийный срок на изготовленные детали составляет 24 месяца с момента их приемки.</p>
</div>

<button id="print">Print</button>
<br>
<a href="/">New Order</a>

</body>
</html>