<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
<h1>Menu</h1>
<div>
    <a href="/manage/worker">Workers</a>
    <br>
    <a href="/manage/detail">Details</a>
    <br>
    <a href="/manage/order">Orders</a>
    <br>
    <a href="/manage/customer">Customers</a>
    <br>
    <a href="/manage/archive/orders">Archive Orders</a>
    <br>
    <a href="/manage/dynamic">Dynamic</a>
    <br>

</div>
</body>
</html>

