<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Details</title>
</head>
<body>
<h1>Detail Details</h1>
<div>
    <p>Name: {{.DetailName}}</p>
    <p>Material: {{.MaterialName}}</p>
    <p>Count of material: {{.CountMaterial}}</p>

</div>

<div>
    <button onclick="showUpdateForm('{{.Id}}','{{.DetailName}}', '{{.MaterialName}}', '{{.CountMaterial}}')">Update</button>
    <button onclick="confirmDelete('{{.Id}}')">Delete</button>
</div>

<div id="updateFormContainer" style="display: none;">
    <h2>Update Detail</h2>
    <form id="updateForm">
        <label for="detailName">Имя детали:</label><br>
        <input type="text" id="detailName" name="detailName" ><br><br>

        <label for="materialName">Материал:</label><br>
        <select id="materialName" name="materialName">
            <option value="steel">steel</option>
            <option value="aluminum">aluminum</option>
            <option value="cast iron">cast iron</option>
        </select><br><br>

        <label for="countMaterial">Количество:</label><br>
        <input type="number" id="countMaterial" name="countMaterial" min ="1" max="100" ><br><br>

        <button type="submit">Update</button>
    </form>
</div>

<script>
    function showUpdateForm(id, detailName, materialName, countMaterial) {
         document.getElementById('detailName').value = detailName;
         document.getElementById('materialName').value = materialName;
         document.getElementById('countMaterial').value = countMaterial;


         document.getElementById('updateForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const detailName = document.getElementById('detailName').value;
            const materialName = document.getElementById('materialName').value;
            const countMaterial = document.getElementById('countMaterial').value;

            const queryString = `detailName=${encodeURIComponent(detailName)}&materialName=${encodeURIComponent(materialName)}&countMaterial=${encodeURIComponent(countMaterial)}`;


            fetch('/manage/detail/'  + id + '?' + queryString, {
                method: 'PUT'
            }).then(response => {
                if (response.ok) {
                    alert('Detail updated successfully');
                    window.location.reload();
                } else {
                    alert('Failed to update detail');
                }
            }).catch(error => {
                console.error('Error updating detail:', error);
                alert('Failed to update detail');
            });
        });

        document.getElementById('updateFormContainer').style.display = 'block';
    }

    function confirmDelete(id) {
        if (confirm("Are you sure you want to delete this detail?")) {
            fetch('/manage/detail/' + id, {
                method: 'DELETE'
            }).then(response => {
                if (response.ok) {
                    alert('Detail deleted successfully');
                    window.location.href = '/manage/detail';

                } else {
                    alert('Failed to delete detail');
                }
            }).catch(error => {
                console.error('Error deleting detail:', error);
                alert('Failed to delete detail');
            });
        }
    }
</script>
<br>
<a href="/manage">Menu</a>
</body>
</html>